p {
    margin-top: 0em;
    margin-bottom: 0.1em;

}

.data-box > div {
    width: 100%;
}  

.data-box > div > p {
    margin-top: 0em;
    margin-bottom: 0.1em;
    font-size: 1rem;
}

.data-box > div > h3 {
    margin-bottom: 0em;
    border-bottom: 1px solid #585858;
}

.data-box > div > div > h4 {
    margin: 0em;
    border-bottom: 1px dashed #585858;
    width: 50%;
}

#gfs-data-module-container {
    grid-column: span 2;
}

#gfs-extensions-container {
    grid-column: span 2;
}

#config-info-container {
    grid-column: span 2;
}

#config-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

#gfs-data-module {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

#gfs-status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

#system-status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

#extension-table {
    width: 100%;
    border:1px solid black;
    border-collapse: collapse;
}

#extension-table th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 5px;
}