<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" type="text/css">
        <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
        {% block head %}
        {% endblock %}
        <title>
            GFS - Disconnected
        </title>

    </head>

    <body>
        <div id="nav-bar">

            <div id="nav-logo">
                GFS <span id="error-notifier">Errors</span>
                <p id="utc-clock-container">UTC <span id="utc-clock">00:00:00</span></p>
            </div>
            
            <div id="nav-connection-data">
                <button type="submit" id="nav-connection-button" onclick="toggleConnection()"> Connect </button>
                <span class="nav-connection-item">
                    <span class="nav-connection-item">
                        Status:
                        <span id="nav-connection-status">Disconnected</span>
                    </span>
                    <span class="nav-connection-item">
                        Connection Time:
                        <span id="nav-connection-uptime">00:00</span>
                    </span>
                </span>
            </div>
            

            <div id="nav-page-menu" class="nav-buttons">
                <button id="data-page" type="button" value="" onclick="location.href='/'">Home</button>
                <button id="configure-gfs" type="button" value="" onclick="location.href='/config'">Configure GFS</button>
                <button id="logs" type="button" value="" onclick="location.href='/log-files'">Data and Error Logs</button>
                <button id="shutdown-server" class="gfs-control-button" type="submit" value="" onclick="shutdownServer()">Shutdown Server</button>
                <button id="shutdown-gfs" class="gfs-control-button" type="submit" value="" onclick="shutdownGFS()">Shutdown GFS</button>
            </div>

        </div>

        <div id="main-content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="command-box">
            <input type="text" id="command-input" placeholder="Enter Command Here">
            <button id="command-button">Send</button>
        </div>

    </body>
</html>