# VS Code User and Workspace Settings
.vscode/*
#.timetracker
.VSCodeCounter

# CMake Build Files
build
bin

# Doxygen output files, these can be user generated.
docs/Doxygen/output

# KiCad files
fp-info-cache
sym-lib-table
*.bak
*.zip

# Python
*.pyc
.vscode/arduino.json
