# VS Code User and Workspace Settings
.vscode/settings.json
#.timetracker
.VSCodeCounter

# CMake Build Files
build
bin

# Doxygen output files, these can be user generated.
docs/Doxygen/output

# KiCad files
hardware/GFC/GFC-backups/
hardware/GFC-prototypes/GFC-prototypes-backups
hardware/GFC/#auto_saved_files#
hardware/GFC/fp-info-cache
hardware/GFC/sym-lib-table
hardware/GFC-prototypes/fp-info-cache
hardware/GFC/GFC/GFC-backups/GFC-2022-12-07_120604.zip
