# VS Code User and Workspace Settings
.vscode/*
.vscode/settings.json
# CLion
.idea
#.timetracker
.VSCodeCounter
.cache
.codechecker
version.ini
src/common/version.js

# CMake Build Files
build
bin

# Doxygen output files, these can be user generated.
docs/Doxygen/output

# KiCad files
fp-info-cache
sym-lib-table
*.bak
*.zip
hardware/Prototype Boards/5v Power Supply/_autosave-5v Power Supply.kicad_sch
hardware/Prototype Boards/5v Power Supply/#auto_saved_files#

# Python
*.pyc
.vscode/arduino.json

# Node/React --
node_modules
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.vscode/settings.json
*.sqlite3

# LaTeX --
docs/latex/out

docs/structurizr/.structurizr

software_manifest.json