[submodule "lib/Boost_erSeat"]
	path = lib/Boost_erSeat
	url = https://github.com/joshua-jerred/Boost_erSeat.git
[submodule "lib/bzip2-cpp"]
	path = lib/bzip2-cpp
	url = https://github.com/joshua-jerred/bzip2-cpp
[submodule "lib/SignalEasel"]
	path = lib/SignalEasel
	url = https://github.com/joshua-jerred/SignalEasel.git
[submodule "lib/third_party/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = lib/third_party/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
