{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="gfs_config.js"></script>
<script> SetThisPageMode("gfs") </script>
{% endblock %}

{% block page_title %} 
Giraffe Flight Software Configuration
{% endblock %}

{% block content %}

<div class="content-box wide">
    <h2 class="content-box-title">General</h2>
    <div class="content-box-content">
        <p>test</p>
    </div>
</div>

<div class="content-box wide">
    <h2 class="content-box-title">Extensions</h2>
    <div class="content-box-content">
        <p>test</p>
    </div>
</div>

<div class="content-box wide">
    <h2 class="content-box-title">Telemetry</h2>
    <div class="content-box-content">
        <p>test</p>
    </div>
</div>

<div class="content-box wide">
    <h2 class="content-box-title">Data Log and Data Packets</h2>
    <div class="content-box-content">
        <p>test</p>
    </div>
</div>

<div class="content-box wide">
    <h2 class="content-box-title">Flight Procedures</h2>
    <div class="content-box-content">
        <p>test</p>
    </div>
</div>

{% endblock %}