{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="data.css" type="text/css">
<script type="text/javascript" src="data.js"></script>
<script> SetThisPageMode("gfs") </script>
{% endblock %}

{% block page_title %} 
Giraffe Flight Software - Web Server
{% endblock %}

{% block content %}
<div id="system-status-container" class="content-box">
    <h2 class="content-box-title">System Status<span>&#x25BC;</span></h2>
    <div class="content-box-content">
        <div id="system-status" class="data-box">
            <div>
                <p>System Date: <span id="data-system-date"></span></p>
                <p>System Time [UTC]: <span id="data-system-time-utc"></span></p>
                <p>System Uptime: <span id="data-system-uptime"></span></p>
                <p>CPU Load Average: <span id="data-cpu-load-average"></span></p>
            </div>
            <div>
                <p>CPU Temp: <span id="data-cpu-temp"></span></p>
                <p>Memory Usage: <span id="data-memory-usage"></span></p>
                <p>Storage Usage: <span id="data-storage-usage"></span></p>
                <p>Battery Voltage: <span id="data-battery-voltage"></span></p>
            </div>
        </div>
    </div>
</div>

<div id="gfs-status-container" class="content-box">
    <h2 class="content-box-title">GFS Status<span>&#x25BC;</span></h2>
    <div class="content-box-content">
        <div id="gfs-status" class="data-box">
            <div>
                <p>GFS Uptime: <span id="data-gfs-uptime"></span></p>
                <p>Health Status: <span id="data-health-status"></span></p>
                <p>Reported Errors: <span id="data-reported-errors"></span></p>
                <p>Current Flight Proc: <span id="data-current-flight-proc"></span></p>
                <p>Flight Phase: <span id="data-flight-phase"></span></p>
                <p>Telem Queue Size: <span id="data-telem-queue-size"></span></p>
            </div>
            <div>
                <span>Modules</span>
                <p>Configuration: <span id="module-status-config"></span></p>
                <p>Data: <span id="module-status-data"></span></p>
                <p>Extension: <span id="module-status-extension"></span></p>
                <p>Telemetry: <span id="module-status-telemetry"></span></p>
                <p>Server: <span id="module-status-server"></span></p>
                <p>Console: <span id="module-status-console"></span></p>
            </div>
        </div>
    </div>
</div>

<div id="gfs-errors-container" class="content-box">
    <h2 class="content-box-title">Errors <span>&#x25BC;</span> <span id="num-errors"></span></h2>
    <button id="clear-errors-button">Clear Errors</button>
    <div class="content-box-content">
        <div id="gfs-errors">
        </div>
    </div>
</div>

<div id="gfs-data-module-container" class="content-box">
    <h2 class="content-box-title">GFS Data<span>&#x25BC;</span></h2>
    <div class="content-box-content">
        <div id="gfs-data-module" class="data-box">
            <div>
                <h3>DataStream Packets</h3>
                <p>Type: Total, Current</p>
                <p>Data: 
                    <span id="data-total-data-packets">no-data</span>,
                    <span id="data-current-data-packets">no-data</span>
                </p>
                <p>GPS: 
                    <span id="data-total-gps-packets">no-data</span>,
                    <span id="data-current-gps-packets">no-data</span>
                </p>
                <p>Error: 
                    <span id="data-total-error-packets">no-data</span>,
                    <span id="data-current-error-packets">no-data</span>
                </p>
            </div>
            <div>
                <h3>Critical Data</h3>
                <p>Flight Phase: <span id="data-critical-flight-phase">no-data</span></p>
                <p>GPS Data Valid: <span id="data-critical-gps-data-valid">no-data</span></p>
                <p>GPS Fix: <span id="data-critical-gps-fix">no-data</span></p>
                <p>GPS Alt: <span id="data-critical-gps-alt">no-data</span></p>
                <p>Lat: <span id="data-critical-gps-lat">no-data</span></p>
                <p>Lon: <span id="data-critical-gps-lon">no-data</span></p>
                <p>Pressure Data Valid: <span id="data-critical-pressure-data-valid">no-data</span></p>
                <p>Pressure mbar: <span id="data-critical-pressure-mbar">no-data</span></p>
                <p>Battery Data Valid: <span id="data-critical-battery-data-valid">no-data</span></p>
                <p>Battery Voltage: <span id="data-critical-battery-voltage">no-data</span></p>
                <p>System Data Valid: <span id="data-critical-system-data-valid">no-data</span></p>
                <p>Disk Usage: <span id="data-critical-disk-usage">no-data</span></p>
                <p>RAM Usage: <span id="data-critical-ram-usage">no-data</span></p>
                <p>Radio Status: <span id="data-critical-radio-status">no-data</span></p>
            </div>
            <div>
                <h3>Data Log</h3>
                <p>Enabled: <span id="data-log-enabled">no-data</span></p>
                <p>File Name: <span id="data-log-file-name">no-data</span></p>
                <p>File Size: <span id="data-log-file-size">no-data</span></p>
            </div>
            <div>
                <h3>Position Data</h3>
                <p>GPS Source Extension: <span id="data-gps-source-extension">no-data</span></p>
                <p>Fix: <span id="data-gps-fix">no-data</span></p>
                <p>GPS Time Stamp: <span id="data-gps-time-stamp">no-data</span></p>
                <p>Lat: <span id="data-gps-lat">no-data</span></p>
                <p>Lon: <span id="data-gps-lon">no-data</span></p>
                <p>Alt: <span id="data-gps-alt">no-data</span></p>
                <p>Ground Speed: <span id="data-gps-ground-speed">no-data</span></p>
                <p>V-Speed: <span id="data-gps-v-speed">no-data</span></p>
                <p>Heading Of Motion: <span id="data-gps-heading">no-data</span></p>
                <p>Satellites: <span id="data-gps-satellites">no-data</span></p>
                <p>Vert-Accuracy: <span id="data-gps-v-accuracy">no-data</span></p>
                <p>Horz-Accuracy: <span id="data-gps-h-accuracy">no-data</span></p>
                <p>Head-Accuracy: <span id="data-gps-heading-accuracy">no-data</span></p>
            </div>
            <div style="grid-column: span 2;">
                <h3>Environmental Data</h3>
                <div id="environmental-data">
                    <div id="environmental-data-pressure">
                        <h4>Pressure</h4>

                    </div>
                    <div id="environmental-data-temperature">
                        <h4>Temperature</h4>

                    </div>
                    <div id="environmental-data-humidity">
                        <h4>Humidity</h4>
                        
                    </div>
                </div>
            </div>
            <div style="grid-column: span 2;">
                <h3>Calculated Data</h3>
                <div id="calculated-data-content">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-box" style="grid-column: span 2;"> <!-- Extensions -->
    <h2 class="content-box-title">Data Frame<span>&#x25BC;</span></h2>
    <div class="content-box-content">
        <div id="data-frame-content"></div>
    </div>
</div>

<div id="gfs-extensions-container" class="content-box"> <!-- Extensions -->
    <h2 class="content-box-title">Extensions<span>&#x25BC;</span></h2>
    <div class="content-box-content">
        <table id="extension-table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Category</th>
                <th>Interface</th>
                <th>Interval</th>
                <th>Critical</th>
                <th>Extra Args</th>
                <th>Status</th>
                <th>Control</th>
            </tr>
            <tr id="ext_template" style="display: none;">
                <td class="e_id"></td>
                <td class="e_name"></td>
                <td class="e_type"></td>
                <td class="e_category"></td>
                <td class="e_interface"></td>
                <td class="e_interval"></td>
                <td class="e_flight-critical"></td>
                <td class="e_extra-info"></td>
                <td class="e_status"></td>
                <td>
                    <button>Stop</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="config-info-container" class="content-box"> <!-- Configuration Info -->
    <h2 class="content-box-title">Configuration Info<span>&#x25BC;</span></h2>
    <div class="content-box-content">
        <div id="config-data" class="data-box">

            <div>
                <h3>General</h3>
                <p>GFS Version:  <span id="cfg-gfs-version">No Data</span></p>
                <p>Project Name: <span id="cfg-project-name">No Data</span></p>
                <p>Main Board:   <span id="cfg-main-board-type">No Data</span></p>
                <p>Starting Procedure: <span id="cfg-starting-procedure">No Data</span></p>
            </div>
            
            <div>
                <h3>Extensions</h3>
                <p>Total: <span id="cfg-total-extensions">No Data</span></p>
                <p>GPS: <span id="cfg-gps-extensions">No Data</span></p>
                <p>IMU: <span id="cfg-imu-extensions">No Data</span></p>
                <p>Radio Units: <span id="cfg-radio-extensions">No Data</span></p>
                <p>External Sensors: <span id="cfg-external-sensors-extensions">No Data</span></p>
                <p>Internal Sensors: <span id="cfg-internal-sensors-extensions">No Data</span></p>
                <p>Other: <span id="cfg-other-extensions">No Data</span></p>
            </div>
            
            <div>
                <h3>Debug Services</h3>
                <p>Console: <span id="cfg-console-enabled">No Data</span></p>
                <p>Update Interval: <span id="cfg-console-update-interval">No Data</span></p>
                <p>Web Server: <span id="cfg-web-server-enabled">No Data</span></p>
                <p>Web Server Port: <span id="cfg-web-server-port">No Data</span></p>
            </div>

            <div>
                <h3>Flight Procedures</h3>
                Flight Procedures
            </div> 

            <div>
                <h3>Telemetry <span id="cfg-telemetry-enabled">No Data</span></h3>
                <div>
                    <p>Call Sign: <span id="cfg-call-sign">No Data</span></p>
                    <p>Data Packet Mode: <span id="cfg-data-packet-mode">No Data</span></p>
                </div>
                
                <div>
                    <h4>APRS <span id="cfg-aprs-enabled">No Data</span></h4>
                    <p>Frequency: <span id="cfg-aprs-frequency">No Data</span></p>
                    <p>SSID: <span id="cfg-aprs-ssid">No Data</span></p>
                    <p>Symbol: <span id="cfg-aprs-symbol">No Data</span></p>
                    <p>aprs.fi pin: <span id="cfg-aprs-fi-pin">No Data</span></p>
                    <p>Memo: <span id="cfg-aprs-memo">No Data</span></p>
                </div>
                
                <div>
                    <h4>SSTV <span id="cfg-sstv-enabled">No Data</span></h4>
                    <p>Frequency: <span id="cfg-sstv-frequency">No Data</span></p>
                    <p>Mode: <span id="cfg-sstv-mode">No Data</span></p>
                </div>
                
                <div>
                    <h4>AFSK <span id="cfg-afsk-enabled">No Data</span></h4>
                    <p>Frequency: <span id="cfg-afsk-frequency">No Data</span></p>
                </div>
                
                <div>
                    <h4>PSK <span id="cfg-psk-enabled">No Data</span></h4>
                    <p>Frequency: <span id="cfg-psk-frequency">No Data</span></p>
                    <p>Mode: <span id="cfg-psk-mode">No Data</span></p>
                </div>
            </div>
            

        </div>
    </div>
</div>
{% endblock %}