{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="editable.css" type="text/css">
<script type="text/javascript" src="editable.js"></script>
<script type="text/javascript" src="setup.js"></script>
<title>GWS Setup</title>
{% endblock %}

{% block page_title %} Giraffe Web Server - Setup {% endblock %}


{% block content %}

<div class="content-box">
  <h2>Info</h2>
  <div class="content-box-content data-box">
    <div id="gws-version">GWS Version <span></span></div>
    <div id="developer-info">Developer Info:
      <div id="home-page">Home Page<span></span></div>
      <div id="encoding">Encoding<span></span></div>
      <div id="pages"><span></span></div>
      <div id="static-dir">Static Dir<span></span></div>
      <div id="jinja-dirs">Jinja Dir<span></span></div>
      <div id="allowed-extensions">Allowed Extensions<span></span></div>
    </div>
  </div>
</div>

<div class="content-box">
  <h2>Configuration</h2>
  <div class="content-box-content">
    <div id="setup-editable" class="editable">
      <div id="gws-address">Web Server IP <span></span></div>
      <div id="gws-http-port">Web Server Port <span></span></div>
      <div id="gfs-socket-address">GFS Socket IP <span></span></div>
      <div id="gfs-socket-port">GFS Socket Port <span></span></div>
      <div id="ggs-socket-address">GGS Socket IP <span></span></div>
      <div id="ggs-socket-port">GGS Socket Port <span></span></div>
      <div id="developer-mode">Developer Mode <span></span></div>
    </div>
    <div class="editable-comments">Requires GWS Restart</div>
  </div>
</div>

{% endblock %}