{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='data.css') }}" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='data.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Giraffe Flight Software - Web Server</h1>

<div id="system-status-container" class="content-box">
    <h2 class="content-box-title">System Status<span>&#11167;</span></h2>
    <div class="content-box-content">
        <div class="data-2col">
            <p>System Date: <span id="data-system-date"></span></p>
            <p>System Time [UTC]: <span id="data-system-time"></span></p>
            <p>System Uptime: <span id="data-system-uptime"></span></p>
            <p>CPU Load Average: <span id="data-cpu-load-avg"></span></p>
            <p>CPU Temp: <span id="data-cpu-temp"></span></p>
            <p>Memory Usage: <span id="data-ram-usage"></span></p>
            <p>Storage Usage: <span id="data-storage-usage"></span></p>
            <p>Battery Voltage: <span id="data-battery-voltage"></span></p>
        </div>
    </div>
</div>

<div id="gfs-status-container" class="content-box">
    <h2 class="content-box-title">GFS Status<span>&#11167;</span></h2>
    <div class="content-box-content">
        <div class="data-2col">
            <div>
                <p>Health Status: <span id="data-health-status"></span></p>
                <p>Reported Errors: <span id="data-reported-errors"></span></p>
                <p>Current Flight Proc: <span id="data-current-flight-proc"></span></p>
                <p>Flight Phase: <span id="data-flight-phase"></span></p>
            </div>
            <div>
                <span>Modules</span>
                <p>Configuration: <span id="module-status-config"></span></p>
                <p>Data: <span id="module-status-config"></span></p>
                <p>Extension: <span id="module-status-extension"></span></p>
                <p>Telemetry: <span id="module-status-telem"></span></p>
            </div>
        </div>
    </div>
</div>

<div id="gfs-data-module-container" class="content-box">
    <h2 class="content-box-title">GFS Data<span>&#11167;</span></h2>
    <div class="content-box-content">

    </div>
</div>


<div id="gfs-extensions-container" class="content-box"> <!-- Extensions -->
    <h2 class="content-box-title">Extensions<span>&#11167;</span></h2>
    <div class="content-box-content">
    
    </div>
</div>

<div id="config-info-container" class="content-box"> <!-- Configuration Info -->
    <h2 class="content-box-title">Configuration Info<span>&#11167;</span></h2>
    <div class="content-box-content">
        <div id="config-data">

            <div class="config-data-section">
                <h3>General</h3>
                <p>Project Name: <span class="data">None</span></p>
                <p>GFS Version:  <span class="data">None</span></p>
                <p>Main Board:   <span class="data">None</span></p>
            </div>
            
            <div class="config-data-section">
                <h3>Telemetry</h3>
                this is data
            </div>
            
            <div class="config-data-section">
                <h3>Extensions</h3>
                Total Extensions
            </div>
            
            <div class="config-data-section">
                <h3>Debug Services</h3>
                Console Enabled: <span class="data">None</span>
            </div>

            <div class="config-data-section">
                <h3>Flight Procedures</h3>
                Flight Procedures
            </div> 

            

        </div>
    </div>
</div>
{% endblock %}