[Unit]
Description=Giraffe Flight System

[Service]
ExecStart=/opt/giraffe/gfs
WorkingDirectory=/var/lib/giraffe
Restart=

[Install]
WantedBy=multi-user.target
