.cfg-name {
  font-weight: bold;
}

.cfg-data {
  float: right;
}

.cfg-edit-button {
  float: right;
  padding-bottom: 0.2em;
}

/* Extensions */
#extension-table {
  padding-top: 0.5em;
  display: grid;
  border-collapse: collapse;
  width: 100%;
  grid-template-columns: 
    minmax(1em, 3em)
    minmax(2em, 1fr)
    minmax(2em, 1fr)
    minmax(2em, 1fr)
    minmax(2em, 1fr)
    minmax(2em, 1fr)
    minmax(2em, 1fr)
    ;
}

#extension-table thead, tbody, tr {
  display: contents;
}

#extension-table th, td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#extension-table th {
  position: sticky;
  top: 0;
  background: var(--extension-table-header-background);
  color: var(--extension-table-header-text);
  text-align: left;
  font-weight: normal;
  font-size: 1rem;
}

#extension-table th:last-child {
  border: 0;
}

#extension-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--extension-table-row-text);
}

#extension-table tr:nth-child(odd) td {
  background: var(--extension-table-row-odd-background);
  border-top: 0.1em solid var(--extension-table-header-background);
}

#extension-table tr:nth-child(even) td {
  background: var(--extension-table-row-even-background);
  
}

#extension-table tr:hover td {
  background: var(--extension-table-row-hover-background);
  cursor: pointer;
}

.extension-details {
  grid-column: span 7;
  display: none;
  transition-property: height;
}

#expand-all-button {
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
}