#main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1%;
  column-gap: 1.5em;
  row-gap: .5em;
  width: 98%;
  height: auto;
  background-color: var(--content-background);
}

#main-content-title {
  grid-column: span 2;
  border-bottom: 2px solid var(--content-title-underline);
  margin: 0;
}

/* Content Box */

.content-box {
  width: auto;
  background-color: var(--content-box-background);
  border-radius: 4px;
  padding: 2%;
}

.wide {
  grid-column: span 2;
}

.content-box>h2 {
  /* Content Box Title */
  color: #121212;
  border-bottom: 1px solid #2b2b2b;
  margin: 0;
  font-size: 1.5em;
  cursor: pointer;
}

.content-box>h2:hover {
  color: #2e2e2e;
}

#content-box-content {
  display: block;
}

/* Content Box Children */
