.editable > div {
  width: 100%;
  padding-bottom: 0.1em;
}

.editable > div > span {
  border-bottom: 1px solid var(--editable-data-underline-color);
  float: right;
}

.editable > div > input {
  float: right;
}

.editable > div > input[type="checkbox"] {
  margin: 0.1em;
  width: 2em;
  height: 2em;
}

.editable-comments {
  width: 100%;
  font-size: 1em;
  color: var(--editable-comment-color);
  text-align: center;
}

.data-box > div {
  width: 100%;
  padding-bottom: 0.1em;
  border-bottom: 1px solid var(--data-box-underline-color);
}

.data-box > div > span {
  float: right;
}

.data-box > div > div > span {
  float: right;
}